/*  Positioning the wrapper so that the cube appears in the middle of the
    window. Perspective view set */
#cube-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  /*perspective: 1500px;*/
}

.cube {
	position: relative;
	transform-style: preserve-3d;
}

/* Size and border color for each face */
.face {
	position: absolute;
	width: 200px;
	height: 200px;
  border: solid green 3px;
}

/* Transforming every face into their correct positions */
#front_face {
	transform: translateX(-100px) translateY(-100px) translateZ(100px);
	background-color: #00FF00;
}

#back_face {
	transform: translateX(-100px) translateY(-100px) translateZ(-100px);
	background-color: #0000FF;
}
#right_face {
	transform: translateY(-100px) rotateY(90deg);
	background-color: #FF0000;
}
#left_face {
  transform: translateY(-100px) translateX(-200px) rotateY(90deg);
	background-color: #FF9900;
}
#top_face {
  transform: translateX(-100px) translateY(-200px) rotateX(90deg);
	background-color: #FFFFFF;
}
#bottom_face {
  transform: translateX(-100px) rotateX(90deg);
	background-color: #FFFF00;
}

/* Animation for X, Y and Z axis spin */
@keyframes spinXYZ {
	from { transform: rotateX(0) rotateY(0) rotateZ(0); }
	to { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

/* Applying animation to the cube */
.cube{

}
